.App{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto;
}
.card-grid{
    align-self: center;
    justify-self: center;
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 5px;
    width: min-content;
    height: min-content;
}