.App{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 100vh;
    max-width:1450px;

}
.card-grid{
    
    justify-self: center;
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 10px;
    width: min-content;
    height: min-content;
}
.header{

    background-color: rgb(252, 246, 246);
    display: flex;
    flex-direction: row;
    height: min-content;
    box-shadow: 1px 14px 24px -11px rgba(45, 45, 84, 1);
}
.score-tracker{
    background-color: rgb(233, 233, 233);
    margin-left: auto;
    padding-right: 20px;
    padding: 10px;

    
}
.title{
    padding-left: 10px;
    align-self: center;
}
.instruction{ 
    justify-self: center;
    align-self: flex-end;
    
}
