.App{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto;
}
.card-grid{
    align-self: center;
    justify-self: center;
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 5px;
    width: min-content;
    height: min-content;
}
.header{
    outline: 2px solid blue;
    display: flex;
    flex-direction: row;
}
.score-tracker{
    outline: 2px solid green;
    margin-left: auto;
    padding: 10px;
    
}
.title{
    padding-left: 10px;
    align-self: center;
}
.instruction{ align-self: end;}