.card{
    width: min-content;
   
    padding: 5px;

    transform: scale(1);
    transition: transform 0.2s ease-out,
                boxshadow 0.2s ease;
    z-index: 0;
    border-radius: 15px;
}
.card:hover{
    background-color: rgb(252, 246, 246);
    transform: scale(1.05);
    z-index:  2;
    box-shadow: 5px 9px 24px -11px rgba(45, 45, 84, 1);
}
.card-photos{
    width: 300px;
    height: 300px;
}
@media (max-width:1250px) {

    .card-photos{
        width: 200px;
        height: 200px;
    }
}